<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="RoomClass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="con" connectionString="Data Source=DESKTOP-CJ2TM4F;Initial Catalog=Room_Class;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RoomClass.Properties.Settings>
            <setting name="exportFolder" serializeAs="String">
                <value>C:\Users\Administrator\Desktop\New folder</value>
            </setting>
            <setting name="delimiter" serializeAs="String">
                <value>Tab</value>
            </setting>
            <setting name="format" serializeAs="String">
                <value>.txt</value>
            </setting>
            <setting name="importFolder" serializeAs="String">
                <value>C:\Users\Administrator\Desktop\RoomClass(Category)</value>
            </setting>
        </RoomClass.Properties.Settings>
    </userSettings>
</configuration>